* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entrena {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    line-height: 1.1;
    max-width: 600px;
}

.unete {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 500px;
}
    